*{
    padding: 0;
    margin: 0;
}

.header{
    height: 100;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

.logo{
    height: 48px;
    padding: 2px 10px;
}

.icon-bar{
  background: palevioletred;
}

li a{
    color:purple;
}

.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: rebeccapurple;
}

.banner-image{
    margin: 30px 0;
}

/* main */

main{
    flex: 1;
    padding: 100%;
}
/* footer */

footer{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-box{
 padding-right: 15px;
 padding-left: 15px; 
 margin-right: auto;
 margin-left: auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-5 col-sm-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-4 col-sm-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-3 col-sm-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

footer.social-icon{
    margin-top: 32px;
}

.social-icon{
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.col-md-12 col-sm-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

footer.copyright-text{
    padding-top: 42px;
}

h2{
    font-size: 30px;
    line-height: 40px;
    margin-top: 0px;
}

p{
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5px;  
}



